body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ff6200;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: #00a480;
}